<!DOCTYPE html>
<html>
    <head>
        <title>Products List</title>
    </head>
    <body>
        <h1>Products List</h1>
<ul id="product-list-home"></ul>
    </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>