<!DOCTYPE html>
<html>
<head>
  <title>Products List in Real Time</title>
</head>
<body>
  <h1>Products List in Real Time</h1>
<ul id="product-list"></ul>
  <form id="product-form">
    <input type="text" id="product-name" name="productName" placeholder="Product Name" required>
    <button type="submit">Add product</button>
  </form>
</body>
</html>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/realTimeProducts.js"></script>



